---
import Card from "@components/Card.astro";
import Base from "@layouts/Base.astro";
import type { FrontmatterType } from "@types";
import type { MarkdownInstance } from "astro";

//@ts-ignore
export async function getStaticPaths({ paginate }) {
  const postsNoOrder: MarkdownInstance<FrontmatterType>[] = await Astro.glob(
    "./*.md"
  );
  //order post by date

  let posts = postsNoOrder.sort((a, b) => {
    const dateA = new Date(a.frontmatter.date);
    const dateB = new Date(b.frontmatter.date);
    return dateB.getTime() - dateA.getTime();
  });

  //add new status to the first post not in draft
  let newPosts = false;
  posts = posts.map((post, index) => {
    if (!newPosts && !post.frontmatter.draft) {
      newPosts = true;
      return { ...post, new: true };
    }
    return post;
  });

  return paginate(posts, {
    pageSize: 4,
  });
}
const { page } = Astro.props;
const frontmatter = {
  type: "website",
  title: "Blog",
  date: "2023-04-01",
  tags: [],
  robots: false,
  image: {
    src: "/assets/images/astro.jpg",
    alt: "Astro",
  },
  author: "Steven Sermeus",
  description: "Navigate to find the best content",
};
---

<Base
  frontmatter={frontmatter}
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
  robots={frontmatter.robots}
>
  <div>
    <h1 class="text-4xl font-bold text-center">Blog</h1>
    <ul class="flex-tow flex flex-wrap justify-around">
      {
        //@ts-ignore
        page.data.map((post, index) => {
          return (
            <Card
              draft={post.frontmatter.draft}
              title={post.frontmatter.title}
              href={post.url || ""}
              body={post.frontmatter.description}
              tags={post.frontmatter.tags}
              date={post.frontmatter.date}
              image={post.frontmatter.image?.src}
              alt={post.frontmatter.image?.alt}
              new={post.new}
              github={post.frontmatter.github}
              live={post.frontmatter.live}
            />
          );
        })
      }
    </ul>
  </div>
  <div
    class="flex justify-center items-center"
    style="margin-top: 2rem; margin-bottom: 2rem;"
  >
    <div class="btn-group">
      <a class={"btn"} href={page.url.prev}>«</a>
      <a class={"btn"}>{page.currentPage}</a>
      <a class={"btn"} href={page.url.next}>»</a>
    </div>
  </div>
</Base>
