---
import type { FrontmatterType } from "@types";
import Navbar from "@components/Navbar.astro";
import SEO from "@components/SEO.astro";

interface Props {
  title: string;
  description: string;
  image?: {
    src: string;
    alt: string;
  };
  robots?: boolean;
  url?: string | URL;
  frontmatter: FrontmatterType;
}

const { title, description, image, frontmatter, robots } = Astro.props;

const date = new Date();
const year = date.getFullYear();
---

<!DOCTYPE html>
<html>
  <head>
    <title>{title} | Steven Sermeus</title>
    <SEO
      title={title}
      url={Astro.url}
      image={image}
      description={description}
      description={description}
      robots={robots}
      frontmatter={frontmatter}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="min-h-screen">
      <Navbar />
      <slot />
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <div>
        <p>
          Copyright © {year} - Steven Sermeus
        </p>
        <p>
          Powered by <a class="link" href="https://astro.build/">Astro</a>
        </p>
      </div>
    </footer>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "cupcake";
      })();

      document.documentElement.setAttribute("data-theme", theme);
      window.localStorage.setItem("theme", theme);
    </script>
    <style is:global>
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
