---
import Base from "./Base.astro";
import type { MarkdownLayoutProps } from "astro";
import type { FrontmatterType } from "../types";
import { Icon } from "astro-icon";
type Props = MarkdownLayoutProps<FrontmatterType>;
const frontmatter = Astro.props.frontmatter;
import { formatDate } from "@utils";
---

<Base
  title={frontmatter.title}
  image={frontmatter.image}
  description={frontmatter.description || ""}
  robots={frontmatter.robots}
  frontmatter={frontmatter}
  keywords={frontmatter.tags?.join(", ")}
>
  <div class="md:w-2/4 mx-auto">
    <h1 class="text-4xl font-bold font-mono">{frontmatter.title}</h1>
    {
      frontmatter.date && (
        <p class="text-sm text-gray-500 mt-2 justify-end">
          Publié le : {formatDate(frontmatter.date)}
        </p>
      )
    }
    {
      frontmatter.lecture && (
        <div class="flex flex-row">
          <Icon
            name="mdi:clock-time-eight-outline"
            size="1rem"
            class="my-auto"
          />
          <p class="text-sm text-gray-500 justify-end ml-2 my-auto">
            Lecture: {frontmatter.lecture} min
          </p>
        </div>
      )
    }
    {
      frontmatter.tags?.map((tag) => (
        <p class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm mt-2 font-semibold text-gray-700 mr-2 mb-2">
          #{tag}
        </p>
      ))
    }
    {
      frontmatter.author && (
        <p class="text-sm text-gray-500 mt-2 justify-end">
          Par : {frontmatter.author}
        </p>
      )
    }
    <div class="w-full h-1 bg-gradient-to-r from-blue-400 to-purple-500 my-4">
    </div>
    <div class="prose mt-10 w-full mx-auto">
      <slot />
    </div>
  </div>
</Base>
