---
import Base from "./Base.astro";
import type { MarkdownLayoutProps } from "astro";
import type { FrontmatterType } from "../types";
type Props = MarkdownLayoutProps<FrontmatterType>;
const frontmatter = Astro.props.frontmatter;
import { formatDate } from "@utils";
console.log(frontmatter);
---

<Base
  title={frontmatter.title}
  image={frontmatter.image}
  description={frontmatter.description || ""}
  robots={frontmatter.robots}
  frontmatter={frontmatter}
>
  <div class="md:w-2/4 mx-auto">
    <h1 class="text-4xl font-bold font-mono">{frontmatter.title}</h1>
    <p class="text-gray-500 text-sm">
      Publié le {formatDate(frontmatter.date)}
    </p>
    <div class="w-full h-1 bg-gradient-to-r from-blue-400 to-purple-500 my-4">
    </div>
    <div class="prose mt-10">
      <slot />
    </div>
  </div>
</Base>
